<h2>login</h2>
<form ng-submit="user.login()" name="form">
  <label for="email">Email</label>
  <input name="email" ng-model="user.email" required="required" type="email"/>

  <div ng-messages="form.email.$error" ng-if="form.email.$touched">
        <div ng-message="required">Email is required!</div>
  </div>

  <label for="password">Password</label>
  <input name="password" ng-model="user.password" type="password" required="required"/>

  <div ng-messages="form.password.$error" ng-if="form.password.$touched">
        <div ng-message="required">Password is required!</div>
  </div>

  <input type="submit" id="submit" value="Submit" />
