<!DOCTYPE html>
<html>
<head>
  <title>MoneyManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.js"></script>
  <script src="/js/angular/angular.js"></script>
  <script src="/js/angular-cookie/angular-cookie.js"></script>
  <script src="/js/ng-token-auth/dist/ng-token-auth.js"></script>
  <%= csrf_meta_tags %>

</head>
<body ng-app="app" class="app">
<div ui-view>
  <%= yield %>
</div>


</body>
</html>
